sudo: required
services:
  - docker

before_install:
  - docker build -t zoglad/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run zoglad/react-test npm test -- --coverage

after_success:
  - docker build -t zoglad/multi-client ./client
  - docker build -t zoglad/multi-nginx ./nginx
  - docker build -t zoglad/multi-server ./server
  - docker build -t zoglad/multi-worker ./worker
  #Log in to the docker CLI
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  # push the images to docker hub
  - docker push zoglad/multi-client
  - docker push zoglad/multi-nginx
  - docker push zoglad/multi-server
  - docker push zoglad/multi-worker

deploy:
  provider: elasticbeanstalk
  region: eu-west-1
  app: multi-docker
  env: Multidocker-env
  bucket_name: elasticbeanstalk-us-east-1-535518648590
  bucket_path: docker-multi
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key:
    secure: $AWS_SECRET_KEY